# Python virtual environment
venv/

# Python bytecode and cache
__pycache__/
*.pyc

# OS-specific files (macOS, Windows)
.DS_Store
Thumbs.db

# Editor-specific files (VSCode)
.vscode/

# Application-specific temporary files
temp_resume.pdf